html, body, #root {
  height: 100%;
  margin: 0;
  background: #121212;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

button {
  outline: none;
}